<div class="button-container">
  <button class="styled-button" routerLink="/carta/Austere Command">Austere Command</button>
  <button class="styled-button" routerLink="/carta/Command Tower">Command Tower</button>
  <button class="styled-button" routerLink="/carta/Propaganda">Propaganda</button>
  <button class="styled-button" routerLink="/carta/Talisman of Resilience">Talisman of Resilience</button>
  <button class="styled-button" routerLink="/carta/Wear">Wear</button>
  <router-outlet></router-outlet>
</div>
